@import url('https://fonts.googleapis.com/css?family=Lato:400');

body {
    font-family: 'Lato', sans-serif;
}

.form_wrapper {
    background: rgba(17, 17, 17, 0.4);
    margin-top: 50px;
    padding-bottom: 20px;
}

.overwatch_form {
    width: 50%;
    margin: 0 auto;
    padding-top: 18px;
}

.form-group label {
    color: white;
}

.with-errors {
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: rgba(17, 17, 17, 0.4);
}

.header {
    position: relative;
    width: 100%;
    z-index: 10 !important;
}

.navbar-custom, .navbar-custom .dropdown-menu {
    background: rgba(17, 17, 17, 0.4);
    padding: 0;
}

.container {
    margin-top: 50px;
}

.borderless td{
    border: none !important;
}

.table {
    background: rgba(17, 17, 17, 0.6);
    color: white;
}

.navbar {
    margin-bottom: 0;
}

.navbar-custom .navbar-brand {
    font-weight: 300;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.navbar-collapse a {
    color: white;
}

.navbar-nav a {
    color: white;
}

.background {
    background: url("../images/winston.jpg");
    background-size: cover;
    height: 100vh;
}

.background_table {
    background: url("../images/tracer.jpg");
    background-size: cover;
    height: 100vh;
}
